@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


.SignUpContainer{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins',sans-serif;

}

.SignUpForm{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 30%;
  border-radius: 10px;
  border: 3px solid black;

}
.SignUpForm .form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 70%;
}

.SignUpForm .input{
  width: 70%;
  height: 10%;
  outline: none;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 15px;
}

.SignUpForm h1{
  
  color: black;
  font-size: 25px;
}
.SignUpForm .button{
  background-color: black;
  color: white;
 
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  border: none;
  width: 30%;
  height: 15%;
}
.button{

}
.SignUpForm p{
  color: black;
  font-weight: 600px;
  
}