.SignUpContainer{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignUpForm{
  background: linear-gradient(to right, #5b21b6, #0891b2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 30%;
  border-radius: 10px;


}
.SignUpForm .form1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 75%;
  padding: 10px;
}

.SignUpForm .input1{
  width: 78%;
  height: 15%;
  outline: none;

  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  
}

.SignUpForm h1{
  font-size: 25px;
  font-family: "Poppins";
  color: white;
}
.SignUpForm .button1{
  background-color: white;
  color: #5b21b6;
  height: 13%;
  font-family: 'Poppins';
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  border: none;
  width: 25%;
}
.SignUpForm p{
  color: white;
  font-weight: 600px;
}